<p><strong>A simple Car Wishlist rails application to keep a list of cars you like.
It provides authentication through Google, built with restfulness in mind and allows you to perform CRUD operations.</strong>
</p>
<div class="row valign-wrapper">
 <div class="col s12 ">
  <div class="card large">
    <div class="card-content grey-text darken-3">
      <iframe width="1080" height="460" src="https://www.youtube.com/embed/yXBjwxUChzY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
 </div>
</div>