<p><strong>A simple Car Wishlist rails application to keep a list of cars you like.
It provides authentication through Google, built with restfulness in mind and allows you to perform CRUD operations.</strong>
</p>