<br>
<br>
<%= form_tag dealership_filtered_path, method: :get do %>
  <div class="field">
    <%=select_tag "car[dealership]", options_from_collection_for_select(Manufacturer.all, "name", "name"), {:class => 'browser-default'}%>
    <%=submit_tag 'Search'%>
  </div>
<% end %>
<br>
